<div class="about pb-3">
    <h2 class="text-center font-weight-bold mt-3 heading">About</h2>
    <div class="p-2 card">

               <p> I also do offer a program on conversational french which is otherwise called as 
                spoken french for the students/clients who have a good grasp on the basic concepts 
                but find it hard to converse fluently in french. These are specifically designed for 
                individuals who may be traveling to a French-speaking country 
                soon and want to hold conversations and find their way around the city.
                </p>
                <p>
                All the classes aim at being able to form sentences for conversations, 
                being able to express your ideas and feelings coherently, 
                and getting comfortable with the French way of speaking including accents and sounds.
                </p>
            <p>
                I also take up classes for all kinds of school curriculums, and complete syllabus coverage 
                of all the boards like 
                <b>
                    <ul>
                        <li>
                            Secondary School Certificate(SSC),
                        </li>
                        
                        <li>
                            Indian Certificate of Secondary Education (ICSE), 
                        </li>
                        <li>
                            Central Board of Secondary Education (CBSE), 
                        </li>
                        <li>
                            International Baccalaureate (IB), 
                
                        </li>
                        <li>
                            International General Certificate of Secondary Education (IGCSE).
                        </li>
                    </ul>
                </b>
            </p>
            <p>
                I feel, such vast experience in teaching various students from different 
                schools to various colleges has made me successful 
                in receiving attention from the Learners of the Most Romantic Language of the world..!
            </p>
      
            <p>
                We not only teach language but its culture as well, 
                by linking the events today life, which helps to remember 
                things in the long run and store it in the Hippocampus of the 
                brain where informative knowledge is held indefinitely.
            </p>
            <p>
                Language learning profits people from staying away from Psychological issues.
            </p>
    </div>
</div>
