<article class="single-page-content mt-3 mb-3 mat-elevation-z8">
    <div>
        <div>
            <div class="course-header">
                <h1 style="text-align: center;" class="p-4">French DALF A2 Exam</h1>
            </div>
            <div class="pr-2 pl-2">
                <h2>DELF A2 French Exam</h2>
                <p>DELF A2 recognizes the linguistic competency of a basic user. At the A2 level, the learner can
                    communicate in simple and routine tasks requiring the most common polite phrases and exchanges of
                    information.</p>
            </div>

            <div class="pr-2 pl-2">
                <h2>DELF A2 Exam Components</h2>
            </div>

            <div class="pr-2 pl-2">
                <ol>
                    <li>DELF A2 Oral Comprehension (Listening)</li>
                    <li>DELF A2 Comprehension Ecrite (Reading)</li>
                    <li>DELF A2 Oral Production (Speaking) </li>
                    <li>DELF A2 Written Production (Writing)</li>
                </ol>
            </div>
        </div>
    </div>
    <div>
        <div>
            <div class="pr-2 pl-2">
                <h2>DELF A2 Exam Format</h2>
                <table width="100%">
                    <tbody>
                        <tr>
                            <th>Nature of the exams: A2</th>
                            <th>Duration</th>
                            <th>&nbsp;</th>
                        </tr>
                        <tr>
                            <td><strong>Oral</strong><br>
                                comprehension Response to comprehension questionnaires relating to three or four short
                                recorded documents relating to everyday situations (two listening sessions).
                                <br><br>Maximum duration of documents: 5 min</td>
                            <td>0 h 25 envo</td>
                            <td>/ 25</td>
                        </tr>
                        <tr>
                            <td><strong>Reading</strong><br>
                                comprehension Response to comprehension questionnaires on three or four written
                                documents relating to everyday situations.</td>
                            <td>0:30</td>
                            <td>/ 25</td>
                        </tr>
                        <tr>
                            <td><strong>Written production</strong><br>- write to invite, thank, apologize, ask, inform,
                                congratulate ...</td>
                            <td>0 h 45</td>
                            <td>/ 25</td>
                        </tr>
                        <tr>
                            <td><strong>Oral production</strong><br> Test in three parts: <br>- guided interview <br>-
                                exchange of information <br>- simulated dialogue.</td>
                            <td>6 ~ 8 min preparation: 10 min</td>
                            <td>/ 25</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="pr-2 pl-2">
                <div class="wpb_wrapper">
                    <p>The overall pass mark is 50/100. The pass mark per test is 5/25.
                    </p>
                </div>
            </div>
        </div>

    </div>
</article>