<article class="single-page-content mt-3 mb-3 mat-elevation-z8">
  <div class="course-header">
    <h1 style="text-align: center;" class="p-4">French TCF B1 Exam</h1>
  </div>
  <div class="pr-2 pl-2">
    <P>
      The TCF (Test de Connaissance du Français) is a French language proficiency test for non-native speakers of
      French
      who wish to evaluate and have their level of proficiency certified for personal, professional or academic
      reasons.
    </P>
  </div>


  <div class="pr-2 pl-2">
    <p>The TCF is designed by the CIEP (Centre International d’Etudes Pédagogiques) and accredited by the French
      Ministry of Education. The TCF exam is a proof of proficiency in French language that is accepted by:</p>
    <ul>
      <li>Most prestigious universities both in France and abroad.</li>
      <li>The Canadian immigration authorities if you wish to migrate to Quebec, Canada.</li>
      <li>The Quebec government if you wish to be a Consultant en Immigration du Canada</li>
    </ul>

    <P>
      Each candidate will receive an Attestation (Certificate) indicating his level of knowledge of the French
      language.
      The TCF Certificate is valid for 2 years.
    </P>

  </div>

  <div class="pr-2 pl-2">
    <h2>
      TCF Test Structure
    </h2>

    <p>The TCF is a multiple-choice test with 80 items that cover:</p>
    <ul>
      <li>Reading comprehension (30 items) – TCF Comprehension écrite</li>
      <li>Grammatical structures (20 items) – TCF Structures de la langue</li>
      <li>Listening comprehension (30 items) – TCF Compréhension orale</li>
    </ul>
    <p>It also includes 2 optional tests:</p>
    <ul>
      <li>Writing (1.45 hours) – TCF Expression écrite</li>
      <li>Speaking (15 minutes) – TCF Expression orale</li>
    </ul>
  </div>


  <h2>
    TCF Levels
  </h2>

  <div>
    <table width="100%" border="1">
      <tbody>
        <tr>
          <th scope="col">Level</th>
          <th scope="col">Niveau</th>
          <th scope="col">CECR</th>
          <th scope="col">Remarks</th>
        </tr>
        <tr>
          <td>Level 1</td>
          <td>Niveau 1</td>
          <td>A1</td>
          <td>Lower Beginner</td>
        </tr>
        <tr>
          <td>Level 2</td>
          <td>Niveau 2</td>
          <td>A2</td>
          <td>Upper Beginner</td>
        </tr>
        <tr>
          <td>Level 3</td>
          <td>Niveau 3</td>
          <td>B1</td>
          <td>Lower Intermediate</td>
        </tr>
        <tr>
          <td>Level 4</td>
          <td>Niveau 4</td>
          <td>B2</td>
          <td>Upper Intermediate</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <table width="100%" border="1">
      <tbody>
        <tr>
          <th scope="col">Level</th>
          <th scope="col">Niveau</th>
          <th scope="col">CECR</th>
          <th scope="col">Remarks</th>
        </tr>
        <tr>
          <td>Level 5</td>
          <td>Niveau 5</td>
          <td>C1</td>
          <td>Lower Advanced</td>
        </tr>
        <tr>
          <td>Level 6</td>
          <td>Niveau 6</td>
          <td>C2</td>
          <td>Upper Advanced</td>
        </tr>

      </tbody>
    </table>
  </div>
</article>