h1{
    font-size:5rem;
    color:#2a2d52;
    font-weight: 500;
    line-height: 4rem;
}


.card{
    padding-top:rem;
    width: 75%;
    margin: auto;
    font-size: 1rem;
    font-weight: 500;
   
}
.row{
    background-image: url('/assets/home-bg.jpeg'),  url('/assets/home-bgcenter.png');
    background-repeat: no-repeat, no-repeat;
    background-position: left, center;
    height: 500px;
    background-size: contain;
}
