h1{
    font-size:5rem;
    color:#2a2d52;
    font-weight: 500;
    line-height: 4rem;
}


.header{
    padding-top: 5rem;
    width: 75%;
    margin: auto;
    font-size: 1rem;
    font-weight: 500;
   
}
.row{
    background-image: url('/assets/home-bgcenter.png');
    //url('/assets/home-bg.jpeg'), 
    background-repeat: no-repeat;//no-repeat,
    background-position: center;//left
    height:400px;
    background-size: contain;
}

.description{
    font-size:1rem;
}