<div class="row pt-4">
    <div class="card text-center">
        <h1>
            I'm Lavanya
        </h1>
        <p class="description">
            I've experienced in language training for French students/clients of different age brackets from professionals like Managing directors to kids aged 5 years old who are schooling.
            <!-- <li>
                Experienced to take individual online classes, online group lessons, and as well as short term hobby lessons.
            
            </li>
            <li>
                We Provide the course to clear Internationally recognized and lifetime valid certification courses for professional development like DELF and DALF Exams
            </li> -->
        </p>
    </div>
</div>

