h1{
    font-size:3rem;
    color:#2a2d52;
    font-weight: 500;
}


.card{
    padding-top:5rem;
    width: 75%;
    margin: auto;
    font-size: 1rem;
    font-weight: 500;
   
}
.row{
    background-image: url('/assets/home-bg.jpeg');
    background-repeat: no-repeat;
    background-position: left;
    height: 500px;
    background-size: contain;
}
.profile{
    width: 50%;
    padding-top:5rem;
    // &:hover{
    //     transform: rotateX(360deg);
    //     -webkit-animation-duration: 6s; 
    //     -webkit-animation-delay: 3s;
    //     animation-delay: 3s;    
    // }
}