<div class="row pt-4">
    <div class="header text-center">
        <h1 class="heading">
            I'm Lavanya
        </h1>
        <p class="description">
            Experienced in language training for language learners 
            like students/clients of different age brackets from professionals 
            like Managing directors to kids aged 5 years old who are schooling.
        </p>
        <p class="description">
            Experienced to take individual online classes, online group lessons, 
            and as well as short term hobby lessons.
        </p>
    </div>
</div>

