<article class="single-page-content mt-3 mb-3 mat-elevation-z8">
    <div>
        <div>
            <div class="course-header">
                <h1 style="text-align: center;" class="p-4">French DALF A1 Exam</h1>
            </div>
            <div class="pr-2 pl-2">
                <div>
                    <h2>DELF A1 French Exam</h2>
                </div>
            </div>
            <div class="pr-2 pl-2">
                <div>
                    <p>DELF A1 level recognises basic knowledge. It is the most basic level at which a
                        language is used, called the “discovery” stage. At this stage, the learner can
                        interact in a simple way: he/she can speak about him/herself and his/her immediate
                        environment.</p>
                </div>
            </div>

            <div class="pr-2 pl-2">
                <h2>DELF A1 Exam Components</h2>
            </div>

            <div class="pr-2 pl-2">
                <ol>
                    <li>DELF A1 Comprehension Orale (Listening)</li>
                    <li>DELF A1 Comprehension Ecrite (Reading)</li>
                    <li>DELF A1 Production Orale (Speaking) 4.DELF A1 Production Ecrite (Writing)</li>
                </ol>
            </div>
        </div>
    </div>
    <div>
        <div>
            <div class="pr-2 pl-2">
                <h2>DELF A1 Exam Format</h2>
            </div>
            <table width="100%" border="1">
                <tbody>
                    <tr>
                        <th scope="col">Type of exams: A1</th>
                        <th scope="col">Duration</th>
                        <th scope="col">&nbsp;</th>
                    </tr>
                    <tr>
                        <td><strong>Oral</strong><br> comprehension Response to comprehension questionnaires relating to
                            three or four very short recorded documents relating to everyday situations (two listening
                            sessions). <br><br>Maximum duration of documents: 3 min</td>
                        <td>0 h 20 envo</td>
                        <td>/ 25</td>
                    </tr>
                    <tr>
                        <td><strong>Reading</strong><br> comprehension Response to comprehension questionnaires on four
                            or five written documents relating to everyday situations.</td>
                        <td>0:30</td>
                        <td>/ 25</td>
                    </tr>
                    <tr>
                        <td><strong>Written production</strong><br> Test in two parts: <br>- complete a file, a form
                            <br>- write simple sentences (postcards, messages, captions ...) on subjects of daily life.
                        </td>
                        <td>0:30</td>
                        <td>/ 25</td>
                    </tr>
                    <tr>
                        <td><strong>Oral production</strong><br> Three-part test <br>- guided interview <br>- exchange
                            of information <br>- simulated dialogue.</td>
                        <td>5 ~ 7 min preparation: 10 min</td>
                        <td>/ 25</td>
                    </tr>
                </tbody>
            </table>
            <div class="pr-2 pl-2">
                <div class="wpb_wrapper">
                    <p>The total duration of the test is 1h20min. The overall pass mark is 50/100. The pass
                        mark per test is 5/25</p>

                </div>
            </div>

            <div class="pr-2 pl-2">
                <div class="wpb_wrapper">
                    <h2>DELF A1 Exam Format</h2>
                </div>
            </div>

            <div class="pr-2 pl-2">
                <div class="wpb_wrapper">
                    <p>The DELF A1 exam consists of 4 tests evaluating the 4 language skills, namely:
                        Listening, Speaking, Reading and Writing. The total duration of the test is 1h20min.
                        The overall pass mark is 50/100. The pass mark per test is 5/25</p>
                </div>
            </div>

            <div class="pr-2 pl-2">
                <div class="wpb_wrapper">
                    <h3>A. Listening |20 minutes | 25 marks</h3>
                    <p>Comprehension questionnaires dealing with three or four very short recordings on
                        everyday life (played twice).</p>
                    <p>Maximum duration of recordings: 3 mins</p>
                </div>
            </div>

            <div class="pr-2 pl-2">
                <div class="wpb_wrapper">
                    <h3>B. Reading | 30 minutes | 25 marks</h3>
                    <p>Comprehension questionnaires dealing with four or five written documents on everyday
                        life.</p>

                </div>
            </div>

            <div class="pr-2 pl-2">
                <div class="wpb_wrapper">
                    <h3>C. Writing | 30 minutes | 25 marks</h3>
                    <p>1st part: filling in a record, a form<br>
                        2nd part: writing simple phrases (postcards, messages, stories etc) on everyday
                        topics.</p>
                </div>
            </div>

            <div class="pr-2 pl-2">
                <h3>D. Speaking | 5~7 minutes | 25 marks</h3>
                <p>1st part: guided conversation<br>
                    2nd part: exchanging information <br>
                    3rd part: role-play.</p>
            </div>
        </div>
    </div>
</article>