<article class="single-page-content mt-3 mb-3 mat-elevation-z8">
    <div class="wpb_wrapper">
        <div class="course-header">
            <h1 style="text-align: center;" class="p-4">French DALF</h1>
        </div>

        <div class="text-justify">
            <p>The Diplôme approfondie de langue française (translated: Diploma in Advanced French), is for the more
                advanced users of the language. It has two exams under it that correspond to the levels C1 &amp; C2,
                of the Common European Framework of Reference for Languages. Level C2 is the highest level of
                proficiency in the French language.</p>
            <h4>Structure of the Exam</h4>
            <p>Both C1 &amp; C2 are for advanced levels and denote independent candidates who have the ability to
                easily understand and speak the language as well as present their thoughts in writing. These two
                have separate structures, as shared below.</p>
        </div>
    </div>

    <div class="wpb_wrapper">
        <div class=" text-justify">
            <ol>
                <li><strong>DALF C1 Exam,</strong> like the DELF examinations, is also divided into 4 sections
                    <ul>
                        <li>Oral Comprehension, which is similar to the listening section of DELF examinations. The
                            level of difficulty, however, is much higher. A student is supposed to hear a recording
                            and answer the questions based on it.</li>
                        <li>Written Comprehension, similar to the Reading section, has comprehensive passages which
                            a student is supposed to read, understand and answer.</li>
                        <li>Written Production, or writing section, which requires a student to write an essay. This
                            is to check the candidate’s ability to present the opinion in comprehensive arguments as
                            well as the simple grammatical understanding of the language.</li>
                        <li>Oral production is a spaced-out interview with a jury. The student is asked a series of
                            questions based on a text. The student is given prep time to prepare before presenting
                            the same.</li>
                    </ul>
                </li>
            </ol>
        </div>

        <div class="text-justify">
            <div class="wpb_wrapper">
                <p>2. <strong>DALF C2 Exam,</strong> which is also the highest level of proficiency for students, is
                    divided into two parts.</p>
                <ul>
                    <li>
                        <ul>
                            <li>The first part consists of Oral Comprehension and Production. The student listens to a
                                recording of 15 minutes twice and is supposed to have a discussion basis that with a
                                jury.</li>
                            <li>Written Comprehension and production is the second part in which a candidate is asked to
                                write a 2000 word essay on the given text.</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</article>