<h2 class="text-center font-weight-bold mt-3">CONTACT US</h2>
<hr/>
<div class="row mt-3 mb-3">
    <div class="col-md-6">
        <mat-card>
            <mat-icon> business </mat-icon>
            <h3>Address</h3>
            <address>
                Indiranagar,<br/>
                Bangalore, KA. India<br/>
            </address>
        </mat-card>
    </div>
    <div class="col-md-6">
        <mat-card>
            <ul class="list-unstyled">
                <li>
                    <mat-icon> call </mat-icon> Contact No: xxxxxxxxxxx<br/>
                </li>
                <li>
                    <mat-icon> alternate_email </mat-icon> eMail: test@gmail.com
                </li>
            </ul>
        </mat-card>
    </div>
</div>