<h2 class="text-center font-weight-bold mt-3">Courses</h2>
            
<div class="row">
    <div class="col-md-3">
        <mat-card class="mat-elevation-z8">
            <h3>DELF & DALF</h3>
            Internationally recognized and lifetime 
            valid certification courses for professional development like DELF and DALF Exams
        </mat-card>
    </div>
    <div class="col-md-3">
        <mat-card class="mat-elevation-z8">
            <h3>
                TEF & TCF     
            </h3>
            TEF and TCF exam preparation for Canadian and Quebec Express Entry
       </mat-card>
    </div>
    <div class="col-md-3">
        <mat-card class="mat-elevation-z8">
            <h3>FIDE</h3>
            FIDE Test / Language Passport Exam for Swiss Naturalisation. 
            Apart from Indian States , People residing in overseas like United States, Canada, Quebec, Algeria , Alain , Dubai , Singapore, Malaysia were also in the list of my clients. 
        </mat-card>
    </div>
</div>