<h2 class="text-center font-weight-bold mt-3 heading">Courses</h2>
            
<div class="row">
    <div class="col-md-3">
        <mat-card class="mat-elevation-z8" (click)="route('delf-a1-exam')">
            <h3>French DELF A1 Exam</h3> 
        </mat-card>
    </div>
    <div class="col-md-3">
        <mat-card class="mat-elevation-z8">
            <h3>French DELF A2 Exam</h3> 
       </mat-card>
    </div>
    <div class="col-md-3">
        <mat-card class="mat-elevation-z8">
            <h3>French DELF B1 Exam</h3> 
        </mat-card>
    </div>
    <div class="col-md-3">
        <mat-card class="mat-elevation-z8">
            <h3>French DELF B2 Exam</h3> 
        </mat-card>
    </div>
    <div class="col-md-3">
        <mat-card class="mat-elevation-z8">
            <h3>French TCF Exam</h3> 
        </mat-card>
    </div>
    <div class="col-md-3">
        <mat-card class="mat-elevation-z8">
            <h3>French TEF Exam</h3> 
        </mat-card>
    </div>

</div>