<article class="single-page-content mt-3 mb-3 mat-elevation-z8">
    <div class="course-header">
        <h1 style="text-align: center;" class="p-4"> French TEF Exam</h1>
    </div>
    <div class="pr-2 pl-2">
        <p>
            The TEF (Test d’Evaluation de Français) is designed to assess the level of French language of people who are
            not
            native French speakers. The test is administed by the Chambre de Commerce et d’Industrie de Paris.
        </p>
        <p>
            The TEF test is available in 2 formats, a paper format (TEF) and an online format (e-TEF).
        </p>
    </div>

    <div class="pr-2 pl-2">
        <p>The TEF exam is useful if you need to evaluate your French level of proficiency for Canadian Immigration
            (Immigration to Quebec), for admission into French Universities or for work.</p>
        <ul>
            <li>
                <ul>
                    <li>TEF assesses comprehension and expression skills in French.</li>
                    <li>TEF gives a quantitative and qualitative measure of the level of linguistic and communication
                        skills.</li>
                    <li>TEF offers a detailed and personalized analysis of results.</li>
                </ul>
            </li>
        </ul>
        <p>The overall objective of the TEF is to measure the level of the candidates’ knowledge, linguistic and
            communications skills in French.</p>

    </div>
    <div class="pr-2 pl-2">
        <h2>TEF Exam Format</h2>
        <p>The TEF test (e-TEF) consists of 2 components:</p>

        <div>
            <p><strong>A. 3 Compulsory Sections (2h 10 min)</strong></p>
            <ul>
                <li>Written comprehension (1h)</li>
                <li>Listening comprehension (40 min)</li>
                <li>Vocabulary and Structures (30 min)</li>
            </ul>

        </div>
        <div>
            <p><strong>B. 2 Optional Sections</strong></p>
            <ul>
                <li>Written expression (1h)</li>
                <li>Oral expression (35 min per candidate)</li>
            </ul>

        </div>
    </div>

    <div class="pr-2 pl-2">
        <h2>
            TEF Test Registration
        </h2>
        <div>
            <div>
                <p>The TEF/e-TEF test can be taken anytime throughout the year. Approved TEF Test Centres are allowed to
                    hold as many examination sessions as they wish in the last 10 days of each month.</p>
                <ul>
                    <li>You don’t need to have any previous qualification/certificate in French to take the TEF exams.
                    </li>
                    <li>You can take the TEF test as many times as you like. However, there must be a gap of 2 months
                        between examination sessions.</li>
                    <li>Your TEF certificate is only valid for 1 year.</li>
                    <li>Your TEF certificate will usually be available approximately 20 days after you took the test.
                        You should collect it from the test centre at which you took the TEFaQ exam.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="pr-2 pl-2">
        <h2>TEF Exam & Proficiency Level</h2>
        <p>
            The TEF exam is actually a kind of placement test. Based on how you do in the exam, you are placed in a
            certain level of proficiency according to the CEFRL, the Common European Framework of Reference for
            Languages. You can be placed in any of these levels:
        </p>
        <table width="50%" border="1">
            <tbody>
                <tr>
                    <td>Level A1 (Level 1)</td>
                    <td>Lower Beginner</td>
                </tr>
                <tr>
                    <td>Level A2 (Level 2)</td>
                    <td>Upper Beginner</td>
                </tr>
                <tr>
                    <td>Level B1 (Level 3)</td>
                    <td>Lower Intermediate </td>
                </tr>
                <tr>
                    <td>Level B2 (Level 4)</td>
                    <td>Upper Intermediate</td>
                </tr>
                <tr>
                    <td>Level C1 (Level 5)</td>
                    <td>Lower Advanced</td>
                </tr>
                <tr>
                    <td>Level C2 (Level 6)</td>
                    <td>Upper Advanced</td>
                </tr>
            </tbody>
        </table>
    </div>
    <p>
        To know which level of proficiency you need to achieve, consult with your Quebec immigration lawyer/agent,
        university admissions office or your workplace. This will give you a good idea of the amount of preparation that
        you need to do.
    </p>
</article>