<article class="single-page-content mt-3 mb-3 mat-elevation-z8">
    <div class="course-header">
        <h1 style="text-align: center;" class="p-4">French DELF B2 Exam</h1>
    </div>
    <div class="pr-2 pl-2">
        <div>
            <h2>DELF B2 French Exam</h2>
        </div>
        <div>
            <p>
                DELF B2 French Exam is administered by the CIEP on behalf of
                the French Ministry of Education. At
                the B2 level of proficiency - which corresponds to an upper
                intermediate level in French - the
                user can manage quite comfortably in French language in most
                situations.
            </p>

            <div>
                The B2 level of proficiency is the minimum requirement for:
                <ul>
                    <li>
                        Study in France, Study in Switzerland
                    </li>
                    <li>
                        Quebec immigration
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="pr-2 pl-2">
        <h2>DELF B2 Exam Components</h2>
        <ol>
            <li>DELF B2 Listening</li>
            <li>DELF B2 Written Comprehension (Reading)</li>
            <li>DELF B2 Oral Production (Speaking)</li>
            <li>DELF B2 Written Production (Writing)</li>
        </ol>
    </div>
    <div class="pr-2 pl-2">
        <h2>DELF A2 Exam Format</h2>
        <table width="100%">
            <tbody>
                <tr>
                    <th>Nature of the exams: B1</th>
                    <th>Duration</th>
                    <th>&nbsp;</th>
                </tr>
                <tr>
                    <td><strong>Oral</strong><br>
                        comprehension Response to comprehension questionnaires relating to two recorded documents:
                        <br><br>- interview, news bulletin, etc. (one listening only) <br>- presentation,
                        conference, speech, documentary, radio or television program (two listening times).
                        <br><br>Maximum document duration: 8 min </td>
                    <td>12:30 a.m.</td>
                    <td>/ 25</td>
                </tr>
                <tr>
                    <td><strong>Comprehension of writings</strong><br>
                        Response to comprehension questionnaires relating to two written documents: <br><br>-
                        informative text concerning France or the French <br>-speaking world -
                        argumentative text.</td>
                    <td>1 hour </td>
                    <td>/ 25</td>
                </tr>
                <tr>
                    <td><strong>Written production</strong><br> Argued personal position statement (contribution to
                        a debate, formal letter, critical article)</td>
                    <td>1 hour</td>
                    <td>/ 25</td>
                </tr>

            </tbody>
        </table>


        <h2>DELF B2 Exam Components</h2>
        <div>
            Presentation and defense of a point of view from a short trigger document. / 25
        </div>
    </div>

</article>