/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/root';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/nav';
@import '~bootstrap/scss/navbar';
// @import 'bootstrap/scss';
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
html, body { height: 100%; }
h1.heading,h2.heading,.navbar { margin: 0; font-family: 'Sacramento', cursive !important; }

body{
    background-color: #fff;
}

.navbar{
    background-color: #2a2d52;
    .navbar-brand{
        font-size: 2.5rem;
    }
    li{
        font-size: 1.5rem;
    }
}


.course-header{
    background-color: #ddd;
}

.single-page-content{
    width: 75%;
    margin:auto;
    border: 1px solid #ddd;
}
table{
    th{
        background-color: #2a2d52;
        color: #fff;
        font-size: 1.5rem;
        font-weight: normal;
        padding: 0.5rem ;
    }
    td{
        font-size: 1rem;
        padding: 0.5rem;
    }
    tbody{
        tr:nth-child(even){
            background-color: #ddd;
        }
    }
}