/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/root';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/nav';
@import '~bootstrap/scss/navbar';
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
html, body { height: 100%; }
h1,h2,.navbar { margin: 0; font-family: 'Sacramento', cursive !important; }

body{
    background-color: #fff;
}

.navbar{
    background-color: #2a2d52;
    .navbar-brand{
        font-size: 2.5rem;
    }
    li{
        font-size: 1.5rem;
    }
}