<article class="single-page-content mt-3 mb-3 mat-elevation-z8">
    <div>
        <div>
            <div class="course-header">
                <h1 style="text-align: center;" class="p-4">French DALF B1 Exam</h1>
            </div>
            <div class="pr-2 pl-2">
                <div>
                    <h2>DELF B1 French Exam</h2>
                </div>
            </div>
            <div class="pr-2 pl-2">
                <div>
                    <p>At the DELF B1 level, the language user becomes independent. The student can interact more; he / she can understand and maintain a discussion and give his / her opinion. The learner is also capable of dealing with various situations likely to arise in daily life.</p>
                </div>
            </div>

            <div class="pr-2 pl-2">
                <h2>DELF B1 Exam Components</h2>
            </div>

            <div class="pr-2 pl-2">
                <ol>
                    <li>DELF B1 Oral Comprehension (Listening)</li>
                    <li>DELF B1 Comprehension Ecrite (Reading)</li>
                    <li>DELF B1 Oral Production (Speaking) </li>
                    <li>DELF B1 Written Production (Writing)</li>
                </ol>
            </div>
        </div>
    </div>
    <div>
        <div>
            <div class="pr-2 pl-2">
                <h2>DELF A2 Exam Format</h2>
            </div>
            <table width="100%" border="1">
                <tbody><tr>
                  <th scope="col">Nature of the exams: B1</th>
                  <th scope="col">Duration</th>
                  <th scope="col">&nbsp;</th>
                </tr>
                <tr>
                  <td><strong>Oral</strong><br> 
              comprehension Response to comprehension questionnaires relating to three recorded documents (two listening sessions). <br><br>Maximum document duration: 6 min</td>
                  <td>0 h 25 envo</td>
                  <td>/ 25</td>
                </tr>
                <tr>
                  <td><strong>Comprehension of writings</strong><br> 
              Response to comprehension questionnaires relating to two written documents: <br><br>- identify useful information in relation to a given task <br>- analyze the content of a document of general interest.</td>
                  <td>0 h 35</td>
                  <td>/ 25</td>
                </tr>
                <tr>
                  <td><strong>Written production</strong><br> Expression of a personal attitude on a general theme (essay, mail, article, etc.)</td>
                  <td>0 h 45</td>
                  <td>/ 25</td>
                </tr>
                <tr>
                  <td><strong>Oral production</strong><br> Test in three parts: <br>- guided interview <br>- interactive exercise <br>- expression of a point of view from a trigger document.</td>
                  <td>15 min preparation: 10 min</td>
                  <td>/ 25</td>
                </tr>
              </tbody>
            </table>
         </div> 
            
    </div>
</article>